:root {
  --background-light: #faf0ca;
  --background-dark: #0d3b66;
  --primary-color: #f95738;
  --secondary-color: #f4d35e;
  --tertiary-color: #ee964b;
}

body {
  background-color: var(--background-light);
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.board {
  display: grid;
  gap: 4px;
  background-color: gray;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  place-self: center;
}

.board button {
  font-size: 4rem;
}

button:hover {
  cursor: pointer;
}

.blur-background {
  z-index: 1;
  position: absolute;
  top: 0;
  background-color: #0008;
  backdrop-filter: blur(3px);
  height: 100vh;
  width: 100vw;
  transform: translateX(-8px);
}

.winnerMessage {
  display: grid;

  grid-template-areas:
    'message '
    'button '
  ;

  top: 50%;
  position: relative;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 2rem;
}

.restart-button {
  grid-area: 'button';
  width: 100px;
  height: 40px;
  place-self: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: White;
}

.info-container {
  position: absolute;
  width: 100vw;
  top: 10px;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  height: 50px;
}

.info-container .info-msg {
  font-size: 2rem;
  color: var(--tertiary-color);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 400px;
  align-self: center;
  font-size: 1.5rem;
}

form p {
  display: flex;
  justify-content: space-evenly;
}

form input {
  height: 30px;
}

form button {
  background-color: var(--secondary-color);
  width: 200px;
  height: 50px;
  align-self: center;
  border-radius: 5px;
  font-size: 1.3rem;

}
